@* Widok częściowy: wspólny filtr dat *@

<form method="get" class="mb-3">
    <div class="filter-bar">
        <div>
            <label for="from">Data od:</label>
            <input type="date" id="from" name="from" value="@ViewBag.From" class="form-control" />
        </div>
        <div>
            <label for="to">Data do:</label>
            <input type="date" id="to" name="to" value="@ViewBag.To" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Filtruj</button>
        </div>
    </div>
</form>