@model IEnumerable<ConfectioneryManagementApp.Models.ViewModels.PastrySummaryViewModel>

@{
    ViewData["Title"] = "Zamówione ciasta";
}

<h2>Zamówione ciasta</h2>

@await Html.PartialAsync("_DateFilterPartial")

<table class="table table-striped table-bordered mt-3">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Ilość</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
        </tr>
    }
    </tbody>
</table>
