@model IEnumerable<ConfectioneryManagementApp.Models.ViewModels.IngredientSummaryViewModel>

@{
    ViewData["Title"] = "Lista zakupowa";
}

<div class="orders-form">

    <h2>Lista zakupowa</h2>

    @await Html.PartialAsync("_DateFilterPartial")

    <table class="table table-striped table-bordered mt-3">
        <thead>
        <tr>
            <th>Składnik</th>
            <th>Łączna ilość (g)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.TotalQuantity</td>
            </tr>
        }
        </tbody>
    </table>

</div>